* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 600px !important;
    min-width: 600px;
    background-color: #03A9F4;
}

.login {
    margin-top: 15vh;
    margin-bottom: 15vh;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    min-height: 70vh;
}

.login > h1, .login > p {
    text-align: center;
}

.login-inputs, .login-buttons {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.login-inputs > input {
    width: 100%;
}

.login-buttons > button {
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    float: left;
}

.signup {
    margin-top: 15vh;
    margin-bottom: 15vh;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    min-height: 70vh;
}

.signup > h1, .signup > p {
    text-align: center;
}

.signup-inputs, .signup-buttons {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.signup-inputs > input {
    width: 100%;
}

.signup-buttons > button {
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    float: left;
}

.home-header {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    min-height: 10vh;
}

.home-header > h1, .home-header > p {
    text-align: center;
}

.home-header > .header-buttons {
    width: 100%;
}

.home-header > .header-buttons > #settings {
    float: right;
}

.home-messages {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5vh;
    width: 80%;
    min-height: 65vh;
    max-height: 65vh;
}

.home-messages > .messages-threads {
    margin-bottom: 1%;
    width: 30%;
    min-height: 65vh;
    max-height: 65vh;
    float: left;
    background-color: aliceblue;
    overflow: scroll;
}

.home-messages > .messages-threads > .thread > .subject {
    padding: 0;
    margin: 0;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 1%;
    text-align: left;
    font-size: 1.2em;
    overflow: hidden;
}

.home-messages > .messages-threads > .thread > p {
    padding: 0;
    margin: 0;
    margin-left: 2.5%;
    text-align: left;
    font-size: 0.8em;
    overflow: hidden;
}

.home-messages > .messages-conversation {
    width: 70%;
    min-height: 65vh;
    max-height: 65vh;
    float: left;
    background-color: aliceblue;
    overflow: scroll;
}

.settings-header {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.settings-header > h1, .settings-header > p {
    text-align: center;
}

.settings-header > .header-buttons {
    width: 100%;
}

.settings-header > .header-buttons > #save {
    float: right;
}

.settings-header > .firebase-input {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}

.settings-header > .firebase-input > input {
    width: 100%;
}

.settings-header > .firebase-input > button {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

.settings-header > .firebase-input > .password {
    width: 100%;
}

.settings-header > .firebase-input > .password > input {
    width: 47%;
    float: left;
}

.settings-header > .firebase-input > .password > #password_verification {
    margin-left: 6%;
}