* {
    padding: 0;
    margin: 0;
}

body {
    min-width: 600px;
    background-color: #03A9F4;
}

.login {
    margin-top: 15%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

.signup {
    margin-top: 15%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

.home-header {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.login > h1, p {
    text-align: center;
}

.signup > h1, p {
    text-align: center;
}

.home-header > h1, p {
    text-align: center;
}

.login-inputs .login-buttons {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.signup-inputs .signup-buttons {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.login-inputs > input {
    width: 100%;
}

.signup-inputs > input {
    width: 100%;
}

.login-buttons > button {
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    float: left;
}

.signup-buttons > button {
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    float: left;
}